html{
  width: 100vw;
  height: 100vh;
}

body{
  position: relative;
  width: 45%;
  left: 27.5%;
}

h1{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 50px;
}

a{
  margin-left: 20%;
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.vertical{
  border-right: 10px;
  border-color: black;
  display: inline-block;
}

.meal-details, .cus-charges, .earnings-info,.introduction{
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888;
  padding-bottom: 20px;
}


form input[type="number"]{
  position: absolute;
  right: 5%;
}
form label{
  margin-left: 15px;
}

form button{
  position: relative;
  left: 30%;
  margin-left: 15px;
  margin-top: 60px;

}

.reset{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.spacer{
  width: inherit;
  height: 20px;
}

h2{
  text-align: center;
}

.cus-charges p, .earnings-info p{
  margin-left: 15px;
}

/*Animations*/
.loading {
  position:relative;
  height:100%;
}

.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('../img/loading-animation.gif');
}

.animate-view.ng-enter, .animate-view.ng-leave{
  transition: 0.75s linear all;
  -webkit-transition: 0.75.5s linear all;
}

.animate-view.ng-enter{
  opacity: 0;
}

.animate-view.ng-enter{
  opacity: 1;
}

.animate-view.ng-leave{
  opacity: 1;
}

.animate-view.ng-leave-active{
  opacity: 0;
}




